<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdu.nook.user.mapper.BaseInfoMapper">

    <resultMap id="BaseResultMap" type="com.xdu.nook.user.entity.BaseInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="ukIdCode" column="uk_id_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,uk_id_code,
        name,birthday
    </sql>
</mapper>
