<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdu.nook.material.mapper.IsbnInfoMapper">

    <resultMap id="BaseResultMap" type="com.xdu.nook.material.entity.IsbnInfoEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="isbn10" column="isbn_10" jdbcType="VARCHAR"/>
            <result property="isbn13" column="isbn_13" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
            <result property="pages" column="pages" jdbcType="INTEGER"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,isbn_10,isbn_13,
        title,author,publisher,
        pages,image,description,
        capacity,create_time,update_time
    </sql>
</mapper>
